<li class="my-list__item">
    <span class="my-list__item__attribute my-list__item__attribute-emphasis">{{person.firstName}} {{person.lastName}}</span>
    <span class="my-list__item__attribute">Join Date: {{person.joinDate}}</span>
    <span class="my-list__item__attribute">Membership Active: {{if person.isActive "Yes" "No"}}</span>
</li>