/* Colors */
$light-gray-1: #eee;
$light-gray-2: #f4f4f4;

/* Fonts */
$default-font-family: 'Dosis', sans-serif;
$default-font-size: 18px;
$default-letter-spacing: 0.6px;

body, body input {
    font-family: $default-font-family;
    font-size: $default-font-size;
    letter-spacing: $default-letter-spacing;
}

@import 'my-nav';
@import 'my-list';