<div>First name: {{model.firstName}}</div>
<div>Last name: {{model.lastName}}</div>
<div>Join date: {{model.joinDate}}</div>
<div>Active: {{model.isActive}}</div>

{{#link-to "members"}}Return to My Members{{/link-to}}